---
import Layout from "../layouts/Layout.astro";
import HatchDivider from "../components/HatchDivider.astro";
import Navbar from "../components/Navbar.astro";
import About from "../components/About.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import Skills from "../components/Skills.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
    <main>
        <div class="sticky top-0 backdrop-blur-md">
            <div class="max-w-3xl mx-auto">
                <Navbar />
            </div>
            <HatchDivider />
        </div>
        <div class="max-w-3xl mx-auto">
            <About />

            <div class="space-y-5 border-x-separator/50 border-x">
                <HatchDivider />
            </div>

            <Experience />

            <div class="space-y-5 border-x-separator/50 border-x">
                <HatchDivider />
            </div>

            <Projects />

            <div class="space-y-5 border-x-separator/50 border-x">
                <HatchDivider />
            </div>

            <Skills />

            <div class="space-y-5 border-x-separator/50 border-x">
                <HatchDivider />
            </div>

            <Footer />
        </div>
        <HatchDivider />
    </main>
</Layout>
