---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import About from "../components/About.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import Skills from "../components/Skills.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Vignesh Venkatesh | Portfolio">
    <div class="mx-auto px-4 pt-6 sm:pt-12 w-full lg:w-2/3 xl:w-1/2">
        <Navbar />
        <About />
        <Experience />
        <Projects />
        <Skills />
    </div>
    <Footer />
</Layout>
