---
import { FaGithub, FaLinkedinIn } from "react-icons/fa";

const birthdate = new Date("2003");
const age = Math.floor(
    (Date.now() - birthdate.getTime()) / (1000 * 60 * 60 * 24 * 365.25),
);
---

<section
    class="scroll-mt-20 px-6 sm:px-8 pt-10 pb-5 lg:px-8 border-x-separator/50 border-x font-google"
    id="about"
>
    <p class="text-tertiary text-sm">hey 👋, I'm</p>
    <div class="flex items-baseline gap-3 my-4">
        <p class="text-4xl font-bold text-secondary">Vignesh Venkatesh</p>
        <span class="italic text-xs text-tertiary hidden sm:block"
            >{age} he/him</span
        >
    </div>

    <div>
        <p class="text-sm text-secondary">
            M.S. Computer Science <a
                class="text-secondary hover:opacity-60 transition-opacity font-semibold"
                href="https://nyu.edu"
                target="_blank">@NYU</a
            >, specializing in Systems. Previously <a
                class="text-secondary hover:opacity-60 transition-opacity font-semibold"
                href="https://www.yokogawa.com"
                target="_blank">@Yokogawa Electric</a
            >
            and Penn State. Currently looking for SWE roles.
        </p>
    </div>

    <!-- links -->
    <div class="text-sm mt-5 flex items-center gap-4 text-tertiary">
        <!-- resume -->
        <a
            href="resume.pdf"
            target="_blank"
            class="hover:text-secondary transition-colors duration-150"
        >
            Resume
        </a>

        <!-- github -->
        <a
            href="https://github.com/Vignesh-Venkatesh"
            target="_blank"
            aria-label="GitHub profile"
            class="inline-flex items-center gap-1 hover:text-secondary transition-colors duration-150"
        >
            <FaGithub />
            GitHub
        </a>

        <!-- linkedin -->
        <a
            href="https://linkedin.com/in/vignesh-2k3"
            target="_blank"
            aria-label="LinkedIn profile"
            class="inline-flex items-center gap-1 hover:text-secondary transition-colors duration-150"
        >
            <FaLinkedinIn />
            LinkedIn
        </a>
    </div>
</section>
