<section
    class="px-6 sm:px-8 py-10 lg:px-8 border-x-separator/50 border-x font-google"
>
    <div class="flex justify-between">
        <a
            href="#"
            class="animate-bounce text-sm text-tertiary text-end hover:text-green transition-colors duration-200"
            >↑ tp to the top ↑</a
        >
        <p class="text-sm text-tertiary text-end">Made with 💚 by Vignesh</p>
    </div>
</section>
