---

---

<div>
    <a
        href="#"
        class="text-center text-[#4a6a62] animate-bounce text-sm block my-15 hover:text-[#7a9e95] transition-colors"
    >
        <h1 class="text-xl">↑</h1>
        <h1>teleport to the top</h1>
    </a>
    <footer
        class="py-8 font-google bg-[#002833] h-20 flex items-center justify-center opacity-80"
    >
        <div class="text-center text-sm space-y-2">
            <p class="">Made with 💚 by Vignesh.</p>
            <p class="">
                Portfolio design inspired by <a
                    href="https://utkarsh-singhal.is-a.dev/"
                    class="hover:underline underline-offset-4 hover:font-bold hover:italic"
                    >Utkarsh</a
                >.
            </p>
        </div>
    </footer>
</div>
