---
const skills = [
    {
        category: "languages",
        items: "JavaScript, TypeScript, HTML, CSS, Python, Go, C, SQL",
    },
    {
        category: "libraries, frameworks",
        items: "React.js, TailwindCSS, DaisyUI, Hono, Express.js, Better-Auth",
    },
    {
        category: "tools, platforms",
        items: "Git, GitHub, Postman, Docker, Visual Studio Code",
    },
    {
        category: "databases",
        items: "PostgreSQL, SQLite",
    },
    {
        category: "misc",
        items: "NPM, Bun, Vite",
    },
];
---

<section id="skills" class="py-10">
    <p class="opacity-40 tracking-wider font-semibold text-xl mb-2">/skills</p>

    <div class="grid grid-cols-2 grid-rows-5 gap-10 pt-4">
        {
            skills.map(({ category, items }) => (

                    <h1 class="text-lg font-bold text-[#01df72]/80 transition duration-300">
                        [ {category} ]
                    </h1>
                    <h1 class="opacity-80">{items}</h1>

            ))
        }
    </div>
</section>
