<section
    class="scroll-mt-20 px-6 sm:px-8 py-6 lg:px-8 border-x border-separator/50 font-google"
    id="skills"
>
    <!-- header -->
    <div class="flex items-center gap-3">
        <h1 class="font-bold text-tertiary text-xl">/skills</h1>
        <div class="flex-1 h-px bg-separator"></div>
    </div>

    <!-- content -->
    <div class="mt-6 flex flex-col space-y-6 text-sm">
        <!-- languages -->
        <div>
            <p class="text-tertiary text-xs mb-1">languages</p>
            <p class="text-secondary">
                JavaScript · TypeScript · HTML · CSS · Python · Go · C/C++ · SQL
            </p>
        </div>

        {
            // <!-- backend -->
            // <div>
            //     <p class="text-tertiary text-xs mb-1">backend</p>
            //     <p class="text-secondary">Node.js · Express · Go · REST · gRPC</p>
            // </div>
        }

        <!-- libraries/frameworks -->
        <div>
            <p class="text-tertiary text-xs mb-1">libraries/frameworks</p>
            <p class="text-secondary">
                React.js · TailwindCSS · DaisyUI · ShadcnUI · Hono · Express.js
                · Better-Auth
            </p>
        </div>

        <!-- databases -->
        <div>
            <p class="text-tertiary text-xs mb-1">databases</p>
            <p class="text-secondary">PostgreSQL · SQLite</p>
        </div>

        <!-- tools -->
        <div>
            <p class="text-tertiary text-xs mb-1">tools</p>
            <p class="text-secondary">Git · Bun · Vite · Zed · VSCode</p>
        </div>
    </div>
</section>
