---
import "../styles/global.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Vignesh Venkatesh | Portfolio</title>

        <script
            defer
            src="https://analytics.vigneshvenkatesh.com/script.js"
            data-website-id="e73d3fd3-b127-4035-8397-761efd04d05c"></script>
    </head>
    <body class="bg-(--bg-deep-bg) text-primary">
        <slot />
    </body>
</html>
